# Byte-compiled / optimized files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
.venv/

# Build and distribution folders
build/
dist/
*.spec

# Logs and temp files
*.log
*.tmp

# OS files
.DS_Store
Thumbs.db

# VSCode or IDE configs
.vscode/
.idea/
